{% extends "base.html" %}


{% block announce %}
<style>
  .announcement:not(:hover) {
    color: #6c91d5;
  }
</style>
<a href="https://discord.gg/PgJCPh6" class="announcement">
    For updates & questions join our
    <span class="twemoji">
            {% include ".icons/fontawesome/brands/discord.svg" %}
    </span>
    <strong>Discord Server</strong>
</a>
{% endblock %}

{% block analytics %}
  <script async defer data-domain="unturned.info" src="https://observer.unturned.info/js/plausible.js"></script>
{% endblock %}