
{% macro pretty_print_enum(enum) %}
{%- for value in enum %}
`{{value}}`{%- if loop.last %}.{%- else %}, {%- endif %}
{%- endfor %}
{% endmacro %}

{% macro generate_properties(data, depth) %}
{% for i in range(depth + 1) %}#{% endfor %}{%+ if data.classPrettyName is defined %}{{ escape_markdown(data.classPrettyName) }}{% else %}{{ escape_markdown(data.className) }}{% endif %}
{% if data.classDescription is defined %}
{{ data.classDescription }}
{% endif %}
{% for property in data.assetProperties %}

**{{ escape_markdown(property.name) }}** <{{ property.dataType }}{%+ if property.default is defined %}: `{{ property.default|e }}`{% endif %}\>: {%+ if property.dataType == "enum" %}{{ pretty_print_enum(property.options) }}{% endif %} {%+ if property.description is defined %}{{ property.description }}{% else %}N/A{% endif %}
{%- endfor %}
<hr />

{% for subclass in data.subclasses %}
{{- generate_properties(subclass, depth + 1) -}}
{% endfor %}
{% endmacro %}
